*{

    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font-family: 'poppins', sans-serif ;
    background-color:rgb(247, 210, 178);
  
}
button{
    font-family: 'poppins', sans-serif ;
}
header{
    display: flex;
    width: 90%;
    height: 9vh;
    margin: auto;
    align-items: center;
}
.logo,.nav-links{
    display: flex;
}
.logo{
    align-items: center;
flex: 1; 

}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
color: saddlebrown;
font-size: 18px;
text-decoration: none;

}
nav{

    flex: 2;
}
/*-------------------*/
.pres{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.intro{
flex:1;


}
.intro-text h1{
    font-size: 40px;
    font-weight: 500;
    background: linear-gradient(to right,black,#eb9391);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p {
margin-top: 5px;
font-size: 22px;
color: grey;


}
.btn{
padding: 40px 0px 0px 0px;
margin: 20px 0px 20px 0px;

}
.btn-re{
border: 2px solid blue;
background: skyblue;
color:white;
width:150px; 
height: 50px;
cursor: pointer;
font-size:15px;
font-weight: 500;
margin: 0px 0px 15px 0px;
}
.btn-re a{
    text-decoration: none;
    color:rgb(4, 34, 167);

}

.cover{
    flex: 1;
    height: 60vh;

}
.cover img{
height: 100%;

}
.big{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.7;
    height:80%;
}
.mid{
    position: absolute;
    top:30%;
    left:30%;
    z-index: -1;
    height: 60%;
    opacity: 0.8;
}

.gallery {
    border: 1px solid rgb(68, 35, 35);
    width: 202px;
    
  }
  
  .gallery:hover {
    
    border: 1px solid rgb(255, 73, 73);
 
  }
  
  .gallery img {
    width: 200px;
  
    height:300px ;
    margin: 6px 0 ;
 
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 6px 20px;
    float: left;
    display: block;
    width: 200px;
    margin-left: 3%;
  
  }
  .def{
    color: saddlebrown;
    padding: 6px 20px;
  }
  .sign{
    width: 90%;
max-width: 600px;
background:rgb(52, 184, 218);
position: absolute;
top:15%;
left: 9%;

transform: translate(-50);
padding: 30px 40px ;
box-sizing: border-box;
border-radius: 1px;
text-align: center;
box-shadow: 0 0 10px black;
font-family: 'poppins';

  }
  .error{
    color: red;
    font-size: 15px;
    font-weight: 500;
    text-align: center; 


  }
  .error1 {
    color: red;
    font-size: 15px;
    font-weight: 500;
    text-align: center; 

    
  }
  .contact{
width: 90%;
max-width: 600px;
background:rgb(238, 109, 77);
position: absolute;
top:30%;
left: 10%;

transform: translate(-50);
padding: 30px 40px ;
box-sizing: border-box;
border-radius: 4px;
text-align: center;
box-shadow: 0 0 10px saddlebrown;
font-family: 'poppins';
  }
.contact  h1{
    margin-top: 0;


  }
  .txtb{
    border:1px solid black;
    margin:8px 0;
    padding: 12px 18px;
    border-radius: 8px;
  }
  .txtb label{
    display: block;
    text-align:left ;
    text-transform: uppercase;
    font-weight: 500;

  }
  .txtb input , .txtb textarea{
        width: 100%;
        border:none;
        background: none;
        outline: none;
        font-size: 18px;
        margin-top: 6px;
        color:white;
        float: flex;
}
.form {
  border: none;
  background:transparent;
  outline: none;
  width: 200px;
}
.txtb select{
  border: none;
  background: transparent;
  font-family:poppins ;
  color: rgb(0, 0, 0);
  width: 200px;
  font-weight: 500;


}
.art {
  width: 90%;
  font-family: poppins;
  text-align:left;
  font-size: 30px;
  margin-left: 3%;
  margin-top: 4%;

}
.art h3{
    color: brown;


}
.art{
  color:rgb(75, 1, 69);

}
  .bt{
        display: inline-block;

        background: rgb(75, 1, 69);
        padding: 14px 0;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 8px;
        width: 100%;
        text-decoration: none;
    box-shadow:0 0 10px black;
  }
 

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
@media screen and (max-width: 1133px){

    .pres{
        flex-direction: column;
        
    }
    .intro{
        margin-top: 5vh;
        text-align: center;

    }
    .intro-text h1{
        font-size: 26px;

    }
    .intro-text p {
        font-size: 18px;
    }
    .btn{
        padding: 10px 0px 0px 0px;
    }   
    .cover img{
        height: 90%;
       
    }

   
    .nav-links li{
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: none;

    }
}
@media screen and (max-width: 730px){
  
    header{ width: 96%;
        font-size: 10px;}
        .nav-link{
font-size: 10px;    }
.pres{
    width: 96%;
    margin-left: 70px;
}
.big, .mid{
    display: none;
}
    
    }